@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face{
	font-family:'Sevillana';
	src: url('./fonts/Sevillana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html, body{
	height: 100%;
	margin: 0;
	@apply leading-loose bg-lightGrey;
}





