@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family:'Sevillana';
	src: url('./fonts/Sevillana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html, body{
	height: 100%;
	margin: 0;
	@apply leading-loose bg-light;
}
.bg-light{
	background:#EBD3F8;
	/* background: linear-gradient(to bottom, #a948cb, #933abe, #7e2db1, #681fa4, #511197);
	 */
}



body {
	font-family: 'Sevillana', sans-serif;
}

